<div class="col-sm-12 col-md-8">
  <div class="thumbnail">
    <% if place_info %>
    <img src="<%= place_info.photos[0].fetch_url(800) %>" width="300px" style="border-radius: 5%">
    <% end %>
    <div class="caption">
      <h3><%= place_info.name %></h3>
      <p><%= place_info.formatted_address %></p>
      <% if place_info.opening_hours && place_info.opening_hours["open_now"] %>
      <p>Open now</p>
      <% else %>
      <p>Closed</p>
      <% end %>
      <% if place_info.price_level %>
      <p>Price: <%= "$" * place_info.price_level %></p>
      <% else %>
      <p>Price: variable</p>
      <% end %>
      <p>Website: <a href="<%= place_info.website %>"><%= place_info.website %></a></p>
    </div>
  </div>
  <div class="thumbnail" style="color: black">
    <h4><%= time_label %>: <%= time_estimate %> minutes travel time</h4>
    <h4><%= price_label %>: <%= price_estimate %></h4>
  </div>
</div>